:root {

   /*===style===*/
   --body-bg: #EFF5FF;
   --border-color: #D6D9E6;
   --denim: #022959;
   --grey: #9699AA;
   --light-blue: #ABBCFF;
   --orange: #FFAF7E;
   --pink: #F9818E;
   --purple: #483EFF;
   --sky-blue: #BEE2FD;
   --white: #FFFFFF;
   --gray-purple: #6259FF;
   --very-light-gray: #F8F9FF;
}