:root{
   --sky-blue: #BEE2FD;
   --denim: #022959;
   --light-blue: #ABBCFF;
   --white: #FFF;
   --grey: #9699AA;
   --border-color: #D6D9E6;
   --purple: #483EFF;
   --red-errors: #EE374A;
   --button-bg:#164A8A;
   --step-bg: #483EFF;
   --bg: #EFF5FF;
   --very-light-grey:#F8F9FF;
}