/*===============form__article's media==================*/

@media screen and (max-width:375px) {

   .form__main {
      position: relative;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      background: var(--bg, #EFF5FF) !important;
   }

   .form__aside-steps,
   .form__main {
      flex-direction: column;
   }

   .form__aside {
      width: 100% !important;
      flex-direction: row !important;
      gap: 16px !important;
      margin: 0 !important;
      justify-content: center;
      border-radius: 0 !important;
      height: 10rem !important;
      padding: 40px 0 0 0 !important;
      z-index: 1 !important;
      overflow-y: hidden;
   }

   .aside__steps-info {
      display: none !important;
   }

   .form__aside-underground{
      z-index: -1;
   }

   .form__aside-underground svg{
      top: -8rem !important;
      left: 0 !important;
   }

   .assets__oval1{
      top: -4rem !important;
      right: 0px !important;
   }

   .assets__right{
      top: 1rem !important;
      right: 7rem !important;
   }

   .assets__oval{
      top: -2rem !important;
      left: -6px !important;
   }

   .form {
      width: 100% !important;
   }

   .page__head {
      z-index: 99;
      position: relative;
      top: -30px;
      width: 90%;
      margin: auto !important;
      background: var(--white);
      padding: 24px 32px;
      border-radius: 10px;
      background: var(--White, #FFF);
      box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
   }
}

/*===============form__plan's media==================*/

@media screen and (max-width:375px) {

   .form__plan-selects{
      flex-direction: column;
   }

   .gap20{
      gap: 20px !important;
   }

   .plan__select{
      width: 100% !important;
      flex-direction: row !important;
      padding: 14px 0 18px 16px !important;
      align-items: center;
      gap: 14px !important;
   }
}

/*===============form__pick's media==================*/

@media screen and (max-width:375px) {

   .pick__settings{
      padding: 13px 16px 10px 16px !important;
   }

   .settings__text{
      padding-left: 16px !important;
   }
   
   .title__settings{
      font-size: 14px !important;
   }

   .settings__subtitle{
      font-size: 12px !important;
   }

   .settings__text > .settings__subtitle{
      white-space: nowrap;
   }
}

/*===============form__finish's media==================*/

@media screen and (max-width:375px) {

   .total__finish,
   .picks__price,
   .picks__value
   .value__subtitle,
   .total__title-price,
   .value__title{
      font-size: 14px !important;
   }

   .finish__price{
      font-size: 14px !important;
   }
}

/*===============form__content's media==================*/

@media screen and (max-width:375px) {

   .gap24{
      gap: 24px !important;
      padding: 79px 24px !important;
   }

   .check__img{
      width: 56px !important;
      height: 56px !important;
   }

   .form__title{
      font-size: 24px !important;
   }
}


@media screen and (max-width:1024px) {
   .form__main{
      width: 90% !important;
   }

   .change__btn{
      margin-top: 47px !important;
   }
}

@media screen and (max-width: 1440px) {
   .change__btn{
      margin-top: 47px !important;
   }
}

@media screen and (max-width:768px) {
   .form__main {
      width: 100% !important;
      margin: 0 !important;
      flex-direction: column;
      padding: 0 !important;
      overflow-y: hidden;
   }

   .form__aside {
      width: 100% !important;
      height: 10rem !important;
      overflow-y: hidden;
      border-radius: 0 !important;
   }

   .form__steps{
      flex-direction: row !important;
      justify-content: center;
   }

   .aside__steps-info {
      display: none !important;
   }

   .bg1, .bg3 {
      height: 100% !important;
   }

   .bg2 {
      height: 80% !important;
      bottom: -20px !important;
   }

   .bg4 {
      height: 50% !important;
   }

   .form {
      width: 100% !important;
      background: var(--bg) !important;
   }

   .page__head {
      width: 85%;
      position: relative;
      top: -30px;
      margin: auto !important;
      border-radius: 10px;
      z-index: 1;
      padding: 24px !important;
   }

   .page__head, .plan__btn, .form__article-btn {
      background: var(--white) !important;
   }

   .form__article-btn , .plan__btn {
      padding: 10px;
   }

   .form__article-btn {
      margin-top: 35.4% !important;
   }

   .plan__btn {
      margin-top: 31% !important;
   }

   .pick__btn {
      margin-top: 33.2% !important;
   }
}


@media screen and (max-width:375px) {

   .bg4 {
      top: 73px !important;
   }

   .form__article-btn {
      margin-top: 57.6% !important;
   }

   .plan__btn {
      margin-top: 31.3% !important;
   }

   .pick__btn {
      margin-top: 61.9% !important;
   }
}
