*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: Ubuntu;
   font-style: normal;
   line-height: normal;
   border: none;
   outline: none;
}

.form__aside-underground > svg,
.form__aside-underground img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
}